<!DOCTYPE html>
<html>
  <head>
    <title>Fideuada 2021</title>
    <link rel="stylesheet" href="../css/styles.css" /> 
    <!-- Enllaço referències de les fonts utilitzades de google -->
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet"/> 
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet"> 
  </head>
  <!-- Al carregar la pàgina, refresco contador llista participants -->
 <body onload=PintaDades()>
     
     <div class="grid-contenidor">
                
        <div class="zona-titol">
          Fideuà 2021!<br>
          Mares i Pares Escola Mireia
        </div>
        
        <!-- Pinto el contador a la zonaContador -->
        <div class="zona-contador">
            <br>
            <span id="dataFideua">Dissabte 29 de Maig a les 13:30</span><br><br>
            <span id="contador"></span>
        </div>
        
        <div class="zona-foto">
          <img src="../img/fideua_Mireia_2021.jpg" alt="Foto Fideuà"/>
          <ul>
            <li>Lloc: </li>
            <li>Com Arribar-hi?</li>
          </ul>
        </div>
        
        <div class="zona-formulari">
          <!-- Formulari per enregistrar dades per apuntar-se a la fideuà. -->
          <form method="GET">
            <span id="titolFormulariInscripcio">FORMULARI INSCRIPCIÓ:</span><br><br>
            <!-- <label for="nomFamilia">Nom de la Família: </label><br> -->
            <input class="inputForm" type="text" size="30" id="nomFamilia" placeholder="Nom de la família" required/><br><br>
            <!-- <label for="numMembres">Número de persones: </label><br> -->
            <input class="inputForm" type="number" min="0" max="5" id="numMembres" placeholder="# Persones" required/>
            <br><br>
            <input class="buto" type="submit" value="Inscriure'ns-hi!" onclick="RegistreFamilia()"/>
            <input class="buto" type="reset" value="Esborra formulari"/>
          </form>
            <!--
            <br>
            Número de famílies inscrites:<br> <span id="numFamiliesInscrites"></span>
            -->
        </div>

        <div class="zona-llista">
            Llista famílies inscrites:<br><hr>
            <ul><span id="mostraFamilia"></span></ul>
        </div>
        
        <div class="zona-peu">
          Curs 2020-21 - Escola Mireia
        </div>
     
      </div>
     
     <script src="../js/simplyCountdown.min.js"></script>
     <script src="../js/code.js"></script>
   </body>
</html>