.grid-contenidor {
    display: grid;
    background-color: white;
    grid-template-areas: 'zonaTitol zonaContador zonaContador'
    'zonaFoto zonaFormulari zonaLlista'
    'zonaPeu zonaPeu zonaPeu';
}

.grid-contenidor div {
    padding: 20px;
    border: 6px solid white;
    border-radius: 20px;
}

.zona-titol {
    grid-area: zonaTitol;
    font-size: 44px;
    background-color: black;
    color: yellow;
    text-align: center;
    font-family: 'Sacramento', cursive;Verdana, Geneva, Tahoma, sans-serif;
}

.zona-contador {
    grid-area: zonaContador;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 28px;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

.zona-foto {
    grid-area: zonaFoto;
    text-align: left;
    background-color: black;
    background-image: url("../img/fideua_Mireia_2021.jpg");
    background-color: yellow;
    background-blend-mode: luminosity;
    background-repeat:round;
    font-family: 'Aclonica', sans-serif;Verdana, Geneva, Tahoma, sans-serif;
    color:red;
    font-size: 36px;
    height: 600px;
}

.zona-data {
    grid-area: zonaData;
    font-size: 24px;
    text-align: left;
    background-color: black;
    color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.zona-missatge {
    grid-area: zonaMissatge;
    text-align: left;
    background-color:grey;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serifk;
}

.zona-formulari {
    grid-area: zonaFormulari;
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.zona-llista {
    grid-area: zonaLlista;
    font-family: 'Grandstander', cursive;Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black; 
}

.zona-llista span {
    font-family: 'Grandstander', cursive;Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: left;
}

.zona-peu {
    grid-area: zonaPeu;
    text-align: center;
    background-color: black;
    color:gainsboro;
    font-size: 34px;
    font-family: 'Sacramento', cursive;Verdana, Geneva, Tahoma, sans-serif;
}

.buto {
    background-color: black;
    color: white;
    border: border: 2px solid;
    font-weight: bold;
    box-sizing: 24px;
    padding: 5px;
    font-size: 18px;
    transition-duration: 0.2s;
    border-radius: 5px;
    height: 2em;
}

.buto:hover {
    background-color: white;
    color: black;
}

input {
    border: 2px solid black;
}